/* blue color #3ca9de*/
html,
body {
	height: 100%;
	font-family: "Cairo", sans-serif;
	
}
/*
.banner img
{
width :500px;
height : 200px;
margin-left: 20px;
margin-right: 20px;
}
*/
.banner img
{
width :100%;
/*height : 200px;*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Cairo", sans-serif;
	color: #6f6f6f;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}


/*---------------------
  Header
-----------------------*/

.header__top , header {
	background: #f5f5f5;
}


header img
{
	width :60%;
	height :60%;
}
.header__logo {
	padding: 5px 20px;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	padding: 15px 10px;
    margin-top: 23px;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	position: relative;
}

.header__menu ul li .header__menu__dropdown {
	position: absolute;
	left: 0;
	top: 50px;
	background: #222222;
	width: 180px;
	z-index: 9;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
}

.header__menu ul li .header__menu__dropdown li {
	margin-right: 0;
	display: block;
}

.header__menu ul li .header__menu__dropdown li:hover>a {
	color: #3ca9de;
}

.header__menu ul li .header__menu__dropdown li a {
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 15px;
}

.header__menu ul li.active a {
	color: #3ca9de;
}

.header__menu ul li:hover .header__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover>a {
	color: #3ca9de;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li a {
	font-size: 14px;
	color: #252525;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}

.hero {
/*	padding-bottom: 50px;*/
	padding-top: 20px;
	padding-left: 20px;
}

.hero__categories {
	position: relative;	
}

.hero.hero-normal .hero__categories ul {
	display: none;
	position: absolute;
	left: 0;
	top: 46px;
	width: 100%;
	z-index: 9;
	background: #ffffff;
}

.hero.hero-normal .hero__search {
	margin-bottom: 0;
}

.hero__categories__all {
	background: #3ca9de;
	position: relative;
	padding: 10px 25px 10px 40px;
	cursor: pointer;
}

.hero__categories__all i {
	font-size: 16px;
	color: #ffffff;
	margin-right: 10px;
}

.hero__categories__all span {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}

.hero__categories__all:after {
	position: absolute;
	right: 18px;
	top: 9px;
	content: "3";
	font-family: "ElegantIcons";
	font-size: 18px;
	color: #ffffff;
}

.hero__categories ul {
	border: 1px solid #ebebeb;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.hero__categories ul li {
	list-style: none;
}

.hero__categories ul li a {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 39px;
	display: block;
}


/*
.hero__item {
	height: 400px;
	display: flex;
	align-items: center;
	padding-left: 100px;
}
*/
.hero__item {
    height: 479px;
    display: flex;
    align-items: left;
    padding-left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hero__item img{
    width:100%;
}
.hero__text span {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 4px;
	color: #3ca9de;
}

.hero__text p {
	margin-bottom: 35px;
}

.categories__item {
	height: 270px;
	position: relative;
}

.categories__item  {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 0 20px;
	bottom: 20px;
	text-align: center;
}

.categories__item h5 a {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 12px 0 10px;
	background: #ffffff;
	display: block;
}

/*---------------------
  Footer
-----------------------*/

.footer {
	margin-top: 20px;;
	background: #F3F6FA;
	padding-top: 10px;
	padding-bottom: 0;
}

.footer__about {
	margin-bottom: 10px;
	padding-left: 20px;
}

.footer__about ul li {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 20px;
	list-style: none;
}


.footer__about h6
{
	color: #1c1c1c;
	font-weight: 700;
}


.footer__widget {
	margin-bottom: 10px;
	overflow: hidden;
	padding-left: 20px;
}

.footer__widget h6 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer__widget .footer__widget__social a {
	display: inline-block;
	height: 41px;
	width: 41px;
	font-size: 16px;
	color: #404040;
	border: 1px solid #ededed;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	background: #ffffff;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 10px;
}

.footer__widget .footer__widget__social a:last-child {
	margin-right: 0;
}

.footer__widget .footer__widget__social a:hover {
	background: #3ca9de;
	color: #ffffff;
	border-color: #ffffff;
}

.footer__copyright {
	border-top: 1px solid #ebebeb;
	padding: 15px 10px;
	overflow: hidden;
	margin-top: 20px;
	background-color: #3ca9de;

}

.footer__copyright__text {
	font-size: 14px;
	color: #1c1c1c;
	text-align: center;
	line-height: 25px;
	font-weight: 700;
}

/*---------------------
  Contact
-----------------------*/

.contact {
	padding-top: 80px;
	padding-bottom: 50px;
}

.contact__widget {
	margin-bottom: 30px;
}

.contact__widget span {
	font-size: 36px;
	color: #3ca9de;
}

.contact__widget h4 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-top: 18px;
}

.contact__widget p {
	color: #666666;
	margin-bottom: 0;
}

/*---------------------
  Map
-----------------------*/

.map {
	align-content: center;
	height: 400px;
	position: relative;
	
}
.map iframe {
	padding-left: 200px;
	width: 80%;
}

.map .map-inside {
	position: absolute;
	left: 50%;
	top: 160px;
	-webkit-transform: translateX(-175px);
	-ms-transform: translateX(-175px);
	transform: translateX(-175px);
}

.map .map-inside i {
	font-size: 48px;
	color: #3ca9de;
	position: absolute;
	bottom: -75px;
	left: 50%;
	-webkit-transform: translateX(-18px);
	-ms-transform: translateX(-18px);
	transform: translateX(-18px);
}

.map .map-inside .inside-widget {
	width: 350px;
	background: #ffffff;
	text-align: center;
	padding: 23px 0;
	position: relative;
	z-index: 1;
	-webkit-box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
	box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
}

.map .map-inside .inside-widget:after {
	position: absolute;
	left: 50%;
	bottom: -30px;
	-webkit-transform: translateX(-6px);
	-ms-transform: translateX(-6px);
	transform: translateX(-6px);
	border: 12px solid transparent;
	border-top: 30px solid #ffffff;
	content: "";
	z-index: -1;
}

.map .map-inside .inside-widget h4 {
	font-size: 22px;
	font-weight: 700;
	color: #1c1c1c;
	margin-bottom: 4px;
}

.map .map-inside .inside-widget ul li {
	list-style: none;
	font-size: 16px;
	color: #666666;
	line-height: 26px;
}

/*---------------------
  Contact Form
-----------------------*/

.contact__form__title {
	margin-bottom: 50px;
	text-align: center;
}

.contact__form__title h2 {
	color: #1c1c1c;
	font-weight: 700;
}

.contact-form {
	padding-top:80px;
	padding-bottom: 20px;
	padding-left:  200px;
    padding-right: 200px;
}

.contact-form form input {
	width: 50%;
	height: 50px;
	font-size: 16px;
	color: #6f6f6f;
	padding-left: 20px;
	margin-bottom: 30px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
}

.contact-form form input::placeholder {
	color: #6f6f6f;
}

.contact-form form textarea {
	width: 100%;
	height: 150px;
	font-size: 16px;
	color: #6f6f6f;
	padding-left: 20px;
	margin-bottom: 24px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	padding-top: 12px;
	resize: none;
}

.contact-form form textarea::placeholder {
	color: #6f6f6f;
}

.contact-form form button {
	font-size: 18px;
	letter-spacing: 2px;
}
.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #3ca9de;
	border: none;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header__menu ul li {
		margin-right: 45px;
	}
	.hero__search__form {
		width: 490px;
	}
	.hero__categories__all {
		padding: 10px 25px 10px 20px;
	}
	.hero__categories ul {
		padding-left: 20px;
	}
	.latest-product__slider.owl-carousel .owl-nav {
		right: 0;
	}
	.product__details__tab .nav-tabs:before {
		width: 265px;
	}
	.product__details__tab .nav-tabs:after {
		width: 265px;
	}
	.shoping__discount form input {
		width: 240px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero__categories {
		margin-bottom: 30px;
	}
	.hero__search__form {
		width: 485px;
	}
	.categories__slider.owl-carousel .owl-nav button {
		left: -20px;
	}
	.categories__slider.owl-carousel .owl-nav button.owl-next {
		right: -20px;
	}
	.filter__sort .nice-select {
		padding-left: 5px;
		padding-right: 28px;
	}
	.product__details__quantity {
		margin-bottom: 10px;
	}
	.product__details__text .primary-btn {
		margin-bottom: 10px;
	}
	.product__details__tab .nav-tabs:before {
		width: 150px;
	}
	.product__details__tab .nav-tabs:after {
		width: 150px;
	}
	.blog__details__author {
		overflow: hidden;
		margin-bottom: 25px;
	}
	
	.header .container {
		position: relative;

	}
	
	.header__top {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.header__cart {
		text-align: center;
		padding: 10px 0 24px;
	}
	.over_hid {
		overflow: hidden;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.hero__categories {
		margin-bottom: 30px;
	}
	.hero__search {
		margin-bottom: 30px;
	}
	.hero__search__form {
		width: 100%;
	}
	.hero__search__form form input {
		width: 100%;
	}
	.hero__search__form form .hero__search__categories {
		display: none;
	}
	.hero__search__phone {
		float: left;
		margin-top: 30px;
	}
	.categories__slider.owl-carousel .owl-nav {
		text-align: center;
		margin-top: 40px;
	}
	.categories__slider.owl-carousel .owl-nav button {
		position: relative;
		left: 0;
		top: 0;
		-webkit-transform: translateY(0);
	}
	.categories__slider.owl-carousel .owl-nav button.owl-next {
		right: -10px;
	}
	.footer__copyright {
		text-align: center;
	}
	.footer__copyright__text {
		float: none;
		margin-bottom: 25px;
		font-weight: 700;
	}
	
	.filter__item {
		text-align: center;
	}
	.filter__option {
		text-align: center;
	}
	.product__details__pic {
		margin-bottom: 40px;
	}
	.product__details__tab .nav-tabs:before {
		display: none;
	}
	.product__details__tab .nav-tabs:after {
		display: none;
	}
	.shoping__cart__table {
		overflow-y: auto;
	}
	.shoping__discount form input {
		margin-bottom: 15px;
	}
	.blog__details__author {
		overflow: hidden;
		margin-bottom: 25px;
	}

	.header .container {
		position: relative;
	}

	.header__top {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.header__cart {
		text-align: center;
		padding: 5px 0 24px;
	}
	.over_hid {
		overflow: hidden;
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.hero__search__form form .hero__search__categories {
		display: none;
	}
	.featured__controls ul li {
		margin-bottom: 10px;
	}
	.product__details__text ul li b {
		width: 100px;
	}
	.product__details__tab .nav-tabs li {
		margin-right: 20px;
	}
	.shoping__cart__btns {
		text-align: center;
	}
	.primary-btn.cart-btn.cart-btn-right {
		float: none;
		margin-top: 10px;
	}
	.shoping__checkout .primary-btn {
		display: block;
		text-align: center;
		padding: 10px 15px 10px;
	}
	.map .map-inside {
		-webkit-transform: translateX(-125px);
		-ms-transform: translateX(-125px);
		transform: translateX(-125px);
	}
	.map .map-inside .inside-widget {
		width: 250px;
	}
	.product__details__tab .nav-tabs li {
		margin-right: 15px;
	}
	.shoping__discount form input {
		width: 100%;
	}
	.checkout__order {
		padding: 20px;
	}
	.blog__details__hero__text h2 {
		font-size: 24px;
	}
}

video
	{
		width : 550px;
		height : 250px;
		padding-bottom: 50px;
	}



/*the styles od listing the products in the meat category page*/
.listing-products .mt-2{
    margin-top: 0px !important;
    margin-bottom: 13px;
}
.listing-products .mb-3, .listing-products .my-3 {
    margin-bottom: 0.4rem!important;
}
.listing-products .card h6{
    font-size: 22px;
}
.listing-products .card a:hover{
    color: #000;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 12px 23px;
    text-align: center
}

.card-img {
    width: 350px
}

.star {
    color: red
}

.bg-cart {
    background-color: orange;
    color: #fff
}

.bg-cart:hover {
    color: #fff
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}

.bg-buy:hover {
    color: #fff
}

/*product description page*/
.product-page .hero__categories ul li {
    list-style: none;
    display: inline-block;
    margin-right: 35px;
}
@media (max-width:750px){
  .product-page .hero__categories ul li {
    list-style: none;
    display: block;
    margin-right: 35px;
}  
}

/*preview product page*/


.custom-container{
    max-width: 1350px;
        margin: 0px auto;
    padding: 0 25px;
}
.custom-container2{
    max-width: 1350px;
        margin: 0px auto;
    padding: 0 0px;
}
.navbar{overflow: auto;
/*    padding: 0px 25px; */
    margin: 0px 0;
    display: block;position: relative;
 font-size: 17px;
/*    border: 2px solid red;*/
}
.navbar .logo{
    display: inline-block;
   position: relative;
}
.navbar .logo img{
    width: 100px;
}
video{
   object-fit: inherit;
}
 .mobile-nav{
    margin-top: -5px;  float: left; margin-right: 10px;
     display: inline-block;
/*     display: none;*/
}
.mobile{
    display: none;
}



.navbar div{
    display: block;
}


.navbar .menu{
    display: inline-block;
     margin: 0 10px;float: right;font-size: 19px;margin-top: 37px;font-weight: 300;
}

.navbar .language{
    display: inline-block;float: right;
     margin-left: 25px;
    margin-right: 8px;font-size: 17px;margin-top: 2px;
}
.navbar .menu a{
    text-decoration: none;
    color: #000;line-height: 0;
}

.navbar .menu a:hover{
    color: #3ca9de;    transition: color 0.4s ease 0s;
}
.navbar .language a{
    text-decoration: none;
    color: #9ADEAA;line-height: 0; font-weight: bold;
}
@media (max-width:769px){
    .navbar .logo{
float: right;
}
    .container{
        padding: 0 22px;
}
}
@media (max-width:769px){
    .mobile{
    display: block;
        margin-top: 39px;
}
    .navbar .language{
        display: none !important;
    }
        .navbar .menu{
        display: none !important;
    }
}
@media (max-width:450px){
    .custom-container{
    padding: 0 5px ;
}
       .section2 .custom-container{
    padding: 0 20px !important;
}
}
/*new navbar*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3ca9de;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
        border-right: 3px solid white;
}

.sidenav a {
  padding: 8px 8px 17px 32px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
  transition: 0.3s;  color: #f1f1f1;
}

.sidenav a:hover {
      color: #818181;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.about:before{
    content: '';
    position: absolute;
    border-bottom: 1px solid grey;
    width: 137px;
    bottom: ;
    left: 32px;
    top: 108px;
}
.language2{
      text-decoration: none;
    color: #9ADEAA !important;
    line-height: 0;
    font-weight: bold;margin-top: 20px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*edn of navbar*/


