
    .accordian {
        margin-left: 380px;
        padding-left: 25px;
    }
    
    
     .pricing {
        padding-bottom: 10px;
        text-align: center;
        font-size: x-large;
        width: 100%;
    }
    
    .quantity {
        padding-top: 50px;
        margin-left: 10px;
        text-align: center;
    }
    .card-body {
       padding-bottom: 10px;
        text-align: center;
        font-size: x-large;
        width: 100%;
        padding-left: 15px;
    }
    .card-text{
       padding-bottom: 10px;
        text-align: center;
        font-size: x-large;
        width: 100%;
        padding-left: 15px;
    }
    .addTocartButtonText {
        display: inline-flex;
        padding-left: 10px;
    }