@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}

*{
    font-family: "Nunito";
}

hr{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    color:black;
    
}

header{
    background:white;
    box-shadow:0.0rem 0.3rem rgba(0,0,0,.1);
    margin-bottom: 30px;
}

.flexboxParent{
    display:flex;
    flex-direction: column;
}

.maintitle{
    border: 1px solid rgba(0,0,0,.1);
    width:59.50vh;
    margin-left:auto;
    margin-right:auto;
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
    background-color: teal;
    color:white;
}

.formbox{
    text-decoration: none;
    display:inline-block;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
}

.logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:9%;
}

body{
    background-color: white;
    text-align:center;
}

h2{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.box-1{
    color:grey;
    margin-bottom: 5px;
}
.FNtext{
    display:flex;
    height:5.7vh;
    width:32vw;
    padding:1rem;
    color:lightgray;
    font-size: larger;
    border:0.33rem solid rgba(0,0,0,.1);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-left: auto;
    margin-right:auto;
    margin-top:3px;
}
.LNtext{
    display:flex;
    height:5.7vh;
    width:32vw;
    padding:1rem;
    color:lightgray;
    font-size: larger;
    border:0.33rem solid rgba(0,0,0,.1);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 5px;
}
.container1{
    margin-left:auto;
    margin-right: auto;
    width:38rem;
    border:none;
    text-align:left;
    margin-bottom:15px;
}

.email{
    display:flex;
    height:4rem;
    width:40rem;
    padding:1rem;
    color:lightgray;
    font-size: larger;
    border:0.33rem solid rgba(0,0,0,.1);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-left: auto;
    margin-right:auto;
    margin-top:15px;
    margin-bottom:20px;
}

.password{
    display:flex;
    height:4rem;
    width:40rem;
    padding:1rem;
    color:lightgray;
    font-size: larger;
    border:0.33rem solid rgba(0,0,0,.1);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-left: auto;
    margin-right:auto;
}
.confpswrd{
    display:flex;
    height:4rem;
    width:40rem;
    padding:1rem;
    color:lightgray;
    font-size: larger;
    border:0.33rem solid rgba(0,0,0,.1);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:5px;
}

.container2{
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10px;
    width:38rem;
    border:none;
    text-align:left;
    color:grey;
}

.chbox1{
    width:15px;
    height:15px;
}

.container3{
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    width:38rem;
    border:none;
    text-align:left;
    color:grey;
}

.create{
    background-color:tomato;
    color:white;
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 130px;
    padding-right: 130px;
    font-size:15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5em;
    margin-bottom:5px;
}
.create:hover{
    opacity:0.8;
}

.AHAtext{
    color:tomato;
}

a:hover{
    color:teal;
}